@import "mixins";

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .gridContainer__contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header"
            "containerContacto"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-evenly !important;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 23px;
            letter-spacing: 2px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        #containerContacto {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-top: 80px;

            .breadcrumb {
                margin: 5px auto;
            }

            h2 {
                text-align: center;
                font-size: $size-H2Mobile;
                letter-spacing: 3px;
                margin: 20px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            #sectorContacto {
                display: flex;
                flex-flow: column wrap;
                align-content: space-around;
                align-items: center;

                #contacto {
                    padding: 20px;
                    margin: 20px;
                    box-shadow: $box-shadow-contacto;
                    width: 280px;

                    legend {
                        font-size: 1.5em;
                        font-weight: 600;
                        padding: 0 20px;
                    }

                    form {
                        font-size: 15px;

                        .casillas {
                            padding-bottom: 5px;
                            display: flex;
                            flex-direction: column;

                            input {
                                padding: 10px;
                                font-size: 10px;
                                font-weight: 600;
                            }

                            select {
                                padding: 8px;
                                font-size: 12px;
                            }

                            textarea {
                                padding: 8px;
                            }
                        }

                        .newsletter {
                            padding: 12px;

                            label {
                                font-size: 15px;
                            }
                        }

                        .btn {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            margin: 7px;
                        }
                    }
                }

                /* Sección Iframe Ubicacion*/

                #ubicacion {
                    text-align: center;
                    margin: 40px 0;

                    h3 {
                        padding-bottom: 20px;
                    }

                    iframe {
                        box-shadow: $box-shadow-producto;
                        width: 300px;
                        height: 500px;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 30px;

                h3 {
                    font-weight: 600;
                    font-size: 19px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: $color-letraFO;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-flow: column wrap;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                        }

                        span {
                            padding-left: 10px;
                        }

                        img {
                            @include sizeLogoRedes($ancho-redes-fotos, $alto-redes-fotos);
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }
                }

                .fotoContactanos {
                    background-color: #fff;

                        &:hover {
                            background-color: $color-hoverLetras;
                        }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}

/* VISTA TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .gridContainer__contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header"
            "containerContacto"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-around !important;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 2px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-size: 15px;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        #containerContacto {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-top: 80px;

            .breadcrumb {
                margin: 5px auto;
            }

            h2 {
                text-align: center;
                font-size: $size-H2Tablet;
                letter-spacing: 3px;
                margin: 30px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            #sectorContacto {
                display: flex;
                flex-flow: column wrap;
                align-content: space-around;
                align-items: center;

                #contacto {
                    padding: 20px;
                    margin: 20px;
                    box-shadow: $box-shadow-contacto;

                    legend {
                        font-size: 1.5em;
                        font-weight: 600;
                        padding: 0 20px;
                    }

                    form {
                        font-size: 20px;

                        .casillas {
                            padding-bottom: 5px;
                            display: flex;
                            flex-direction: column;

                            input {
                                padding: 8px;
                                font-size: 15px;
                                font-weight: 600;
                            }

                            select {
                                padding: 8px;
                                font-size: 15px;
                            }

                            textarea {
                                padding: 8px;
                            }
                        }

                        .newsletter {
                            padding: 12px;

                            label {
                                font-size: 15px;
                            }
                        }

                        .btn {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            margin: 10px;
                        }
                    }
                }

                /* Sección Iframe Ubicacion*/

                #ubicacion {
                    text-align: center;
                    margin: 40px 90;

                    h3 {
                        padding-bottom: 20px;
                    }

                    iframe {
                        box-shadow: $box-shadow-producto;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 30px;

                h3 {
                    font-weight: 600;
                    font-size: 19px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: $color-letraFO;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                flex-direction: row;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                        }

                        span {
                            padding-left: 10px;
                        }

                        img {
                            @include sizeLogoRedes($ancho-redes-fotos, $alto-redes-fotos);
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }
                }

                .fotoContactanos {
                    background-color: #fff;

                        &:hover {
                            background-color: $color-hoverLetras;
                        }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}


/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {

    .gridContainer__contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header"
            "containerContacto"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-between !important;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 2px;
            padding-bottom: 5px;
            padding-left: 30px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        #containerContacto {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-top: 80px;

            .breadcrumb {
                margin: 5px auto;
            }

            h2 {
                text-align: center;
                font-size: $size-H2Desktop;
                letter-spacing: 3px;
                margin: 30px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            #sectorContacto {
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                align-items: center;

                #contacto {
                    padding: 20px;
                    margin: 20px;
                    box-shadow: $box-shadow-contacto;

                    legend {
                        font-size: 1.5em;
                        font-weight: 600;
                        padding: 0 20px;
                    }

                    form {
                        font-size: 20px;

                        .casillas {
                            padding-bottom: 5px;
                            display: flex;
                            flex-direction: column;

                            input {
                                padding: 8px;
                                font-size: 15px;
                                font-weight: 600;
                            }

                            select {
                                padding: 8px;
                                font-size: 15px;
                            }

                            textarea {
                                padding: 8px;
                            }
                        }

                        .newsletter {
                            padding: 12px;

                            label {
                                font-size: 15px;
                            }
                        }

                        .btn {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }
                    }
                }

                /* Sección Iframe Ubicacion*/

                #ubicacion {
                    text-align: center;
                    margin: 20px 90px;

                    h3 {
                        padding-bottom: 20px;
                    }

                    iframe {
                        box-shadow: $box-shadow-producto;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 33px;

                h3 {
                    font-weight: 600;
                    font-size: 22px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: #fff;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                        }

                        span {
                            padding-left: 10px;
                        }

                        img {
                            @include sizeLogoRedes($ancho-redes-fotos, $alto-redes-fotos);
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }
                }

                .fotoContactanos {
                    background-color: #fff;

                        &:hover {
                            background-color: $color-hoverLetras;
                        }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}