$mapRedes: (instagram: rgb(225, 48, 108), facebook: rgb(5, 10, 230), tiktok: #69C9D0);

@each $red, $color in $mapRedes {
    .#{$red} {
        color: #fff;

            &:hover {
                color: $color;
            }
    }
}

$mapRedesFoto: (instagramFoto: rgb(225, 48, 108), facebookFoto: rgb(5, 10, 230), tiktokFoto: #69C9D0);

@each $red, $color in $mapRedesFoto {
    .#{$red} {
        background-color: #fff;

            &:hover {
                background-color: $color;
            }
    }
}