// COLORES
$color-fondoWeb: rgb(235, 235, 235);
$color-letraFO: #fff;
$color-letraFC: #000;
$color-hoverLetras: rgb(200, 200, 200);
$color-fondo-redes: #fff;

// TAMAÑOS DE LETRAS
$size-H2Mobile: 22px;
$size-H2Tablet: 26px;
$size-H2Desktop: 30px;

// TAMAÑOS DE FOTOS
$ancho-redes-fotos: 22px;
$alto-redes-fotos: 22px;
$ancho-foto-producto-mobile: 300px;
$alto-foto-producto-mobile: 370px;
$ancho-foto-producto-tablet: 380px;
$alto-foto-producto-tablet: 450px;
$ancho-foto-producto-desktop: 420px;
$alto-foto-producto-desktop: 490px;

// BORDES 
$borde-producto: #000 solid 2px;

// SOMBRAS
$box-shadow-producto: 0px 0px 26px 4px rgba(0, 0, 0, 0.3);
$box-shadow-contacto: 12px 14px 22px -6px rgba(186,184,186,1);