@import "variables", "productos", "politicas", "comoComprar", "contacto";

//INDEX

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-fondoWeb;
}

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "header"
            "carouselExampleIndicators"
            "prodMasVend"
            "descuentos"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-evenly !important;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 23px;
            letter-spacing: 2px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        /*SECCION IMG PRINCIPAL*/

        #carouselExampleIndicators {
            grid-area: carouselExampleIndicators;
            margin-top: 61px !important;

            img {
                width: 100%;
            }
        }

        /*SECCION PRODUCTOS MAS VENDIDOS*/

        #prodMasVend {
            grid-area: prodMasVend;

            h2 {
                text-align: center;
                font-size: $size-H2Mobile;
                letter-spacing: 3px;
                margin: 20px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .prodMasVendidos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .container__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3s;

                    &:hover {
                        box-shadow: $box-shadow-producto;

                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-mobile;
                        height: $alto-foto-producto-mobile;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }

            .prodMasVendidos__formulario {
                display: flex;
                justify-content: center;
                padding-top: 25px;

                input {
                    padding: 10px 20px;
                    font-size: 15px;
                    font-weight: 600;

                    &:hover {
                        font-weight: 300;
                    }
                }
            }
        }

        /*SECCION DESCUENTAZOS*/

        #descuentos {
            grid-area: descuentos;

            h2 {
                text-align: center;
                font-size: $size-H2Mobile;
                letter-spacing: 3px;
                margin: 20px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .descuentos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .descuentos__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3;

                    &:hover {
                        box-shadow: $box-shadow-producto;
                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-mobile;
                        height: $ancho-foto-producto-mobile;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 30px;

                h3 {
                    font-weight: 600;
                    font-size: 19px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: $color-letraFO;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-flow: column wrap;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                            color: #fff;

                            &:hover {
                                color: rgb(200, 200, 200);
                            }
                        }

                        span {
                            padding-left: 10px;
                        }

                        img {
                            background-color: #fff;
                            width: $ancho-redes-fotos;
                            height: $alto-redes-fotos;
                            padding: 5px;
                            border-radius: 10px;

                            &:hover {
                                background-color: rgb(200, 200, 200);
                            }
                        }
                    }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}


/* VISTA TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "header"
            "carouselExampleIndicators"
            "prodMasVend"
            "descuentos"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-around !important;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 2px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-size: 15px;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        /*SECCION IMG PRINCIPAL*/

        #carouselExampleIndicators {
            grid-area: carouselExampleIndicators;

            img {
                width: 100%;
            }
        }

        /*SECCION PRODUCTOS MAS VENDIDOS*/

        #prodMasVend {
            grid-area: prodMasVend;

            h2 {
                text-align: center;
                font-size: $size-H2Tablet;
                letter-spacing: 3px;
                margin: 30px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .prodMasVendidos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .container__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3s;

                    &:hover {
                        box-shadow: $box-shadow-producto;

                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-tablet;
                        height: $alto-foto-producto-tablet;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }

            .prodMasVendidos__formulario {
                display: flex;
                justify-content: center;
                padding-top: 25px;

                input {
                    padding: 10px 20px;
                    font-size: 15px;
                    font-weight: 600;

                    &:hover {
                        font-weight: 300;
                    }
                }
            }
        }

        /*SECCION DESCUENTAZOS*/

        #descuentos {
            grid-area: descuentos;

            h2 {
                text-align: center;
                font-size: $size-H2Tablet;
                letter-spacing: 3px;
                margin: 20px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .descuentos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .descuentos__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3;

                    &:hover {
                        box-shadow: $box-shadow-producto;
                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-tablet;
                        height: $ancho-foto-producto-tablet;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 30px;

                h3 {
                    font-weight: 600;
                    font-size: 19px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: $color-letraFO;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                flex-direction: row;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                            color: #fff;

                            &:hover {
                                color: rgb(200, 200, 200);
                            }

                            span {
                                padding-left: 10px;
                            }
                        }

                        img {
                            background-color: #fff;
                            width: $ancho-redes-fotos;
                            height: $alto-redes-fotos;
                            padding: 5px;
                            border-radius: 10px;

                            &:hover {
                                background-color: rgb(200, 200, 200);
                            }
                        }
                    }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}


/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "header"
            "carouselExampleIndicators"
            "prodMasVend"
            "descuentos"
            "infoCompra"
            "footer";

        /* SECCION DE NAVEGACION Y ENCABEZADO*/

        .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: baseline;
            justify-content: space-between;
        }

        .logo {
            color: $color-letraFO !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 2px;
            padding-bottom: 5px;
            padding-left: 30px;

            &:hover {
                font-weight: 300;
                color: $color-hoverLetras;
            }
        }

        .link-color {
            color: $color-letraFO !important;
            font-weight: 600;

            &:hover {
                color: $color-hoverLetras;
                font-weight: 300;
            }
        }

        .dropdown-item:hover {
            color: #000 !important;
        }

        /*SECCION IMG PRINCIPAL*/

        #carouselExampleIndicators {
            grid-area: carouselExampleIndicators;
            margin-top: 71px !important;

            img {
                width: 100%;
            }
        }

        /*SECCION PRODUCTOS MAS VENDIDOS*/

        #prodMasVend {
            grid-area: prodMasVend;

            h2 {
                text-align: center;
                font-size: $size-H2Desktop;
                letter-spacing: 3px;
                margin: 30px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .prodMasVendidos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .container__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3s;

                    &:hover {
                        box-shadow: $box-shadow-producto;

                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-desktop;
                        height: $alto-foto-producto-desktop;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }

            .prodMasVendidos__formulario {
                display: flex;
                justify-content: center;
                padding-top: 25px;

                input {
                    padding: 10px 20px;
                    font-size: 15px;
                    font-weight: 600;

                    &:hover {
                        font-weight: 300;
                    }
                }
            }
        }

        /*SECCION DESCUENTAZOS*/

        #descuentos {
            grid-area: descuentos;

            h2 {
                text-align: center;
                font-size: $size-H2Desktop;
                letter-spacing: 3px;
                margin: 30px;
                transition: letter-spacing 1.5s;

                &:hover {
                    letter-spacing: 6px;
                }
            }

            .descuentos__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .descuentos__productos {
                    border: $borde-producto;
                    margin: 20px;
                    transition: all .3;

                    &:hover {
                        box-shadow: $box-shadow-producto;
                    }

                    img {
                        border-bottom: $borde-producto;
                        width: $ancho-foto-producto-desktop;
                        height: $alto-foto-producto-desktop;
                    }

                    p {
                        text-align: center;
                        padding: 12px;
                        font-weight: 600;
                    }
                }
            }
        }

        /*SECCION INFO*/

        #infoCompra {
            grid-area: infoCompra;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px;

            .info__container {
                text-align: center;
                margin: 33px;

                h3 {
                    font-weight: 600;
                    font-size: 22px;
                }
            }
        }

        /*FOOTER*/

        footer {
            grid-area: footer;
            background-color: #000;
            color: #fff;
            padding: 10px;

            .containerFooter {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding-bottom: 10px;

                ul {
                    list-style: none;

                    h4 {
                        letter-spacing: 2px;
                        padding: 10px 10px 10px 0;
                    }

                    li {
                        margin: 8px;

                        a {
                            text-align: center;
                            margin: 0 auto;
                            text-decoration: none;
                            color: #fff;

                            &:hover {
                                color: rgb(200, 200, 200);
                            }
                        }

                        span {
                            padding-left: 10px;
                        }

                        img {
                            background-color: #fff;
                            width: $ancho-redes-fotos;
                            height: $alto-redes-fotos;
                            padding: 5px;
                            border-radius: 10px;

                            &:hover {
                                background-color: rgb(200, 200, 200);
                            }
                        }
                    }
                }

                .copyright {
                    padding-top: 40px;

                    p {
                        text-align: center;
                    }
                }

                .by {
                    padding-top: 15px;
                    font-weight: bold !important;
                }
            }
        }
    }
}